body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.nav-container {
  position: relative;
  z-index: 3;
}
.nav-container a {
  text-decoration: none;
}

.nav-wrapper {
  min-height: 80px;
  padding: 0 1rem;
  background-color: #ffffff;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.nav-login {
  display: flex;
  font-size: 14px;
  width: 5%;
  color: #231f20;
  align-items: center;
}
.nav-login:hover {
  color: #f15b4c;
}

.nav-logo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.nav-logo-container {
  width: 30%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .nav-logo-container {
    width: 5%;
    overflow: hidden;
  }
}

.nav-btn {
  font-size: 14px;
  color: #231f20;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}
.nav-btn:hover {
  color: #f15b4c;
}
@media screen and (max-width: 768px) {
  .nav-btn:not(:last-child) {
    margin-right: 1rem;
  }
}
.nav-btn-three-container {
  display: flex;
  width: 20%;
  /* text-align: center; */
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .nav-btn-three-container {
    width: auto;
  }
}
.nav-btn-two-container {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .nav-btn-two-container {
    width: auto;
  }
}

.nav-cart {
  color: #231f20;
  display: flex;
  align-items: center;
}
.nav-cart:hover {
  color: #f15b4c;
}

.btn {
  display: inline-block;
  color: #f15b4c;
  border: 1px solid #f15b4c;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  background-color: #ff5e48;
  color: white;
  text-decoration: none;
}

.drop-down {
  display: flex;
  height: 100%;
  align-items: center;
}
.drop-down:hover .drop-menu {
  transform: translateY(0);
}

.drop-menu {
  position: absolute;
  background-color: #ffffff;
  display: flex;
  top: 100%;
  left: 0;
  right: 0;
  transform: translateY(-200%);
  transition: all 0.25s ease-in-out;
  z-index: -1;
}
.drop-menu__column {
  width: 15%;
  display: flex;
  flex-direction: column;
}
.drop-menu__column:first-child {
  margin-left: auto;
}
.drop-menu__column p {
  margin-bottom: 1.5rem;
}
.drop-menu__column a:hover {
  color: #f15b4c;
}
.drop-menu__img {
  width: 100%;
  height: 100%;
}
.drop-menu__img-container {
  width: 25%;
}
.drop-menu__item {
  margin-bottom: 1rem;
}

.notification-bar {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem;
  position: relative;
  z-index: 4;
}
.notification-bar a {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  color: white;
}

.main-hero {
  display: flex;
  align-items: center;
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}
.main-hero__content {
  margin-left: 7rem;
}
.main-hero__content h1 {
  font-size: 42px;
  text-transform: uppercase;
}
.main-hero__desc {
  margin: 2rem 0 1.5rem;
}

.content__mainTitle {
  font-size: 42px;
  letter-spacing: 3px;
}

.content__divider {
  display: inline-block;
  background-color: #ff5e48;
  height: 1px;
  width: 25px;
}

.content-container {
  padding: 2rem 0;
  text-align: center;
}
.content-container h2 {
  font-weight: bold;
  text-transform: uppercase;
}
.content-container p {
  line-height: 2;
}

.background--cleanse {
  background-image: url("../images/drink_clean_bg.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

.column {
  position: relative;
  text-align: left;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 150px;
}
.column:not(:last-child) {
  margin-right: 5rem;
}
.column__overlay {
  border: 1px solid #ff5e48;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  color: #f15b4c;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s all ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.columnFour {
  position: relative;
  display: flex;
  width: calc(100% / 4);
  margin-left: 2rem;
  cursor: pointer;
}
.columnFour:last-child {
  margin-right: 2rem;
}
@media screen and (max-width: 575px) {
  .columnFour {
    width: 100%;
  }
}
.columnLocation {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% / 4);
  margin-left: 2rem;
  text-align: left;
}
.columnLocation:last-child {
  margin-right: 2rem;
}
.columnLocation__img {
  position: relative;
  cursor: pointer;
}
.columnLocation__img:hover .column__overlay {
  opacity: 1;
}
.columnLocation__content {
  margin-top: 1rem;
}
.columnLocation__content p {
  margin: 0;
}
.columnLocation__content p:first-child {
  color: #f15b4c;
  text-transform: uppercase;
}
.column-container {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 575px) {
  .column-container {
    flex-direction: column;
  }
}
.column__divider {
  display: block;
  background: black;
  height: 1px;
  width: 75%;
}
.column--one::before {
  content: "01";
  color: #f15b4c;
  position: absolute;
  font-size: 150px;
  top: 0;
  right: 0;
  z-index: -1;
}
.column--two::before {
  content: "02";
  color: #f15b4c;
  position: absolute;
  font-size: 150px;
  top: 0;
  right: 0;
  z-index: -1;
}
.column--three::before {
  content: "03";
  color: #f15b4c;
  position: absolute;
  font-size: 150px;
  top: 0;
  right: 0;
  z-index: -1;
}
.column--coldPress {
  min-height: 300px;
  background-image: url("../images/drink1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.column--coldPress:hover .column__overlay {
  opacity: 1;
}
.column--milk {
  min-height: 300px;
  background-image: url("../images/drink2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.column--milk:hover .column__overlay {
  opacity: 1;
}
.column--juiceWhite {
  min-height: 300px;
  background-image: url("../images/drink3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.column--juiceWhite:hover .column__overlay {
  opacity: 1;
}
.column--juiceRed {
  min-height: 300px;
  background-image: url("../images/drink4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.column--juiceRed:hover .column__overlay {
  opacity: 1;
}
.column--platform {
  min-height: 300px;
  background-image: url("../images/Platform.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.column--dtla {
  min-height: 300px;
  background-image: url("../images/DTLA.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.column--pasadena {
  min-height: 300px;
  background-image: url("../images/pasadena.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.column--venice {
  min-height: 300px;
  background-image: url("../images/venice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-container {
  border-top: 1px solid #e1e1e1;
}

.footer__content {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.footer__contact input[type="text"] {
  padding: 1rem 1rem;
  width: 12rem;
  margin-right: 0.7rem;
}
.footer__contact input[type="submit"] {
  font-weight: bold;
}
.footer__contact p {
  text-transform: uppercase;
}

.footer-infoBar {
  background-color: #f9f9f9;
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer-infoBar p {
    width: 50%;
  }
}
.footer-infoBar span {
  display: flex;
  align-items: center;
}
.footer-infoBar span a {
  text-decoration: none;
}
.footer-infoBar span a:hover {
  color: #f15b4c;
}
.footer-infoBar span a:first-child {
  margin-right: 4rem;
}

.footer__column {
  display: flex;
  flex-direction: column;
  width: 15%;
}
.footer__column p {
  text-transform: uppercase;
}
.footer__column a {
  color: #acabab;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.footer__column a:hover {
  color: #f15b4c;
}

.juice-image {
  min-height: 670px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .juice-image {
    min-height: 420px;
  }
}
.juice-image--one {
  background-image: url("../images/slider1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.juice__content {
  padding: 1rem;
}

.juice-slider-container button[type="button"]::before {
  font-size: 45px;
}

.juice-slider-container .slick-active button[type="button"]::before {
  color: #ff5e48;
}

.juice-slider-container .slick-dots {
  bottom: 50px;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-top-3 {
  margin-top: 3rem;
}
